@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>@ViewData["Student"]</h3>

<address>More information: <a href="https://educandoweb.com.br">https://educandoweb.com.br</a></address>